<div class="flex">
  <div class="flex-grow Login text-center">
    <h1 class="blue mt4"><%= t :my_account %></h1>

    <div class="flex1" style="flex: 1.2">
      <div class="flex flex-column text-center bg-white r-md p6">
        <div class="flex flex-column text-center b b-blue bg-blue r-md p2 white">
          <p class="h5 lh2 italic">This will be the default member landing page.</p>
          <div class="flex flex-row justify-space-between pt1">
            <p class="h3 bold text-left">Yvonne<br>Thompson</p>
            <p class="h4 bold text-right">Member ID: US1234<br>Orlanda Florida Club: FL5678</p>
          </div>
        </div>
        <div class="bg-white white mt10 ">
          <p>
          &nbsp;
          </p>
        </div>
      </div>
    </div>

  </div>
</div>


