@each $color, $value in $colors{
  .bg-#{''+$color}{
    background: $value;
  }
}

// Override modifiers for when objects need to be modified.
@each $color, $value in $colors{
  .\!bg-#{''+$color}{
    background: $value !important;
  }
}

@each $color, $value in $colors{
  .bc-#{''+$color}{
    background-color: $value;
  }
}