<header class="p3">
  <div class="flex flex-row justify-space-around">
    <div>
        <%# VBIOS-116 : had to disable turbolinks. turbolink page load was causing video to play on pages with no video! %>
        <div data-turbolinks="false">
          <%= link_to root_path, class: "Logo" do %>
            <%= render "layouts/logo" %>
          <% end %>
        </div>
      </div>
      <div class="flex flex-row align-center">
        <div class="dark-gray h5 flex flex-row justify-center italic">
          <p>Super Admins will see this option: </p>
        </div>
        <div class="Button Button bg-blue white ml2">
          <p>
            <%= link_to "Clubs", admin_root_path, class: "white no-underline" %>
          </p>
        </div>
        <div class="Button Button bg-green white ml2">
          <p>
            <%= link_to t('.sign_out'), destroy_user_session_path, :method => :delete , class: 'white no-underline' %>
            </p>
        </div>
      </div>
  </div>
</div>
</header>

